<%- include("partials/header"); -%>
    <h1>This is add content page</h1>
    <form action="/addContent" method="post">

        <textarea name="title" id="titleId" row="150" cols="49"></textarea><br>
        <button type="submit">submit</button>
    </form>
    <%- include("partials/footer"); -%>